<!-- Include head banner on top and include scripts -->

<% header = partial('header.ejs') %>


<div class="container">

    <div class="row">
        <div class="span12">
            <hgrpup>
                <img src="img/Logo_1.jpg" alt="ASUKA"><br>
            </hgroup>
        </div>
    </div>
    
    <div class="row">
        <div class="span12">
            <div class="row">
                <div class="span8">
                    <h2>ASUKA, une association franco-japonaise </h2>
                    <blockquote>
                        "Je m’appelle Kyoko KUGAWA. Je suis originaire de Hiroshima, au Japon.<br>
                        Depuis les événements du 11 mars, je m’efforce d’apporter de l’aide à la ville de 
                        <a href="http://en.wikipedia.org/wiki/Watari,_Miyagi">Watari</a>, située le long de la côte, au nord de Fukushima, 
                        dans la préfecture de Miyagi. <br>
                        Avec d’autres Japonais et Français qui se sont reconnus dans cette cause, nous avons mené une première action 
                        le 3 avril 2011 à la Maison des Associations à Nanterre. Nous avons reçu le soutien de la municipalité de Nanterre 
                        et des associations S.O.S. Familles Emmaüs Nanterre et Cerise Nanterre. Cette première vente de charité fut un succès.<br>
                        En juillet 2011, j’ai visité Watari et d’autres endroits sinistrés. Devant les tonnes de débris entassés, 
                        j’ai pensé à toutes les victimes. Je ne voulais pas que les efforts pour surmonter cet événement ne finissent 
                        par le faire oublier. <br>
                        Forte de cette expérience, et grâce au soutien de mon entourage, je souhaite poursuivre les actions avec ce groupe d’amis.
                        C'est ainsi que notre association s'est mis en place, souhaitant apporter son soutien aux sinistrés. 
                        Nous organisons ainsi des événements commémoratifs et souhaitons humblement que vous puissiez collaborer à nos actions."
                    </blockquote>
            
                    Note: Asuka a bénéficié du soutien des associations "S.O.S. Familles Emmaüs Nanterre" et "Cerise Nanterre" lors des événements du 3 avril 2011 et 11 mars 2012. 
                </div>
    
                <div class="span4">
                    <h2>Notre équipe</h2>
                    <ul class="thumbnails">
                        <li class="span2">
                            <div class="thumbnail"> 
                                <img src="http://placehold.it/200x200" />
                                <h4 > Kyoko KUGAWA </h4>
                                <p>Présidente de l'Association Franco-Japonaise ASUKA</p>
                            </div>
                        </li>
                        <li class="span2">
                            <div class="thumbnail"> 
                                <img src="http://placehold.it/200x200" />
                                <h4 > member </h4>
                                <p>description</p>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>

        </div>
    </div>

</div> <!-- /container -->