<% header = partial('header.ejs') %>

<div class="container">
    <div class="body-main">

        <div class="row cont">
            <div class="span12">
                <div class="row">
                    <div id="about" class="span8">
                        <h2>ASUKA, Naissance d'une association Franco-Japonaise </h2>
                            Que s’est-il passé? Le 11 mars 2011, le Japon a subi une catastrophe gigantesque: un tremblement de terre de magnitude 9.0 sur l'échelle de Richter, suivi par un immense Tsunami, générant des vagues de plus de vingt mètres qui ont emporté maisons et familles sur leur passage. 
                            Alors qu’on pensait que le pire était passé, on découvre que la centrale de Fukushima Dai-ichi est dans un état plus que critique et proche de l’explosion. La catastrophe est aussi nucléaire..." <br>
                            L'association Franco-Japonaise ASUKA est ainsi née suite à cette catastrophe. La diaspora japonaise à l’étranger a été envahie par ce traumatisme et ce sentiment d’impuissance. Les Japonais ont commencé à bouger individuellement.
                            Bouger, sans savoir quoi faire pour les victimes. Que faire? Faire quelque chose, mais quoi?
                            <br><br>
                            <i>L'Association Franco-Japonaise ASUKA 2011年3月11日 東北で起こった大震災後に生まれました. 海外に住んでいる日本人は大きな悲しみと不条理の思いに押し潰されていました. そして, 動き始めました. 被災者の 方たちに何をしてあげられるのさえわからないまま動き始めました. 兎に角, 何かしないでは居られなかったのです. 全世界で沢山のグループや活動が自然発生 しました. そして, それぞれは日本人以外の仲間に支えられて居ました. </i>
                            <br><br>
                            Puis spontanément des groupes se sont formés instinctivement partout dans le monde. Ces mouvements ont été soutenus par des amis, des associations, des inconnus, qui n’étaient pas japonais. <br>
                            A travers ces expériences extraordinaires, nous avons vu des rencontres enrichissantes, des manières de faire différentes, une solidarité internationale et une amitié qui a engendré une chaîne humaniste. D’où la naissance de notre association à Nanterre qui se situe à l'ouest de Paris. <br>
                            Notre souhait consiste à créer une association autour d’actions consistant à développer les échanges culturels, accompagner et soutenir les populations en difficulté afin de mettre en place une grande toile d'amitié internationale pour réaliser cet objectif. 
                            <br>
                            Nous avons choisi le symbole ASUKA (飛鳥) qui signifie l’oiseau qui vole. Il est libre et ainsi il peut choisir sa direction quelques soient les imprévus.
                            <br><br>
                            <i> そんな未曾有の環境の中, 私達は沢山の出会い,様々な未知の方法, そして国際的ソリダリティを経験することが出来ました. それが, フランス パリ西の郊外 Nanterre市で私達のアソシエーションを誕生させたのです. 私達の望みは「様々な活動を通じての文化交流、そして人々が支え合うこと」です. 今後、 色々な活動を提案して行きますが、皆様の斬新なアイディアも期待しております. </i> 
                            <br>
                        <h2>De nombreuses actions déjà réalisées </h2>
                            Avant la création de notre association, six actions ont été faites dont la première était avec le soutien des bénévoles franco-japonais, ainsi que la Mairie de Nanterre, SOS Familles Emmaüs Nanterre et l’Association Cerise Nanterre, pour être solidaires avec les victimes du séisme qui a eu lieu au Japon le 11 mars 2011. Cette première vente de charité fut un vif succès. <br>
                             En juillet  2011, nous avons visité Watari et d’autres endroits sinistrés. Devant ces  tonnes de débris entassés, nous avons pensé à tous ces morts, toutes ces victimes qui essayaient de survivre malgré le deuil de leurs proches.<br>
                            Au cours des mois qui ont suivi, nous avons réunis quelques personnes animées par la même volonté d'action d’où la  programmation de  plusieurs événements pour le premier anniversaire du 11 mars 2011, à la Maison des Associations et au Cinéma Les Lumières, à Nanterre. <br>
                        <h2>Aider les populations </h2>
                    </div>
        
                    <div class="span4">
                        <h2>Notre équipe</h2>
                        <ul class="thumbnails">
                            <li class="span2" 
                                id="member_1" 
                                rel="popover" 
                                data-content="Je m’appelle Kyoko KUGAWA. Je suis originaire de Hiroshima, au Japon. <br> Chargée d'accompagnement social et professionnel (Niveau RNCP_niveau III )" 
                                data-original-title="Présidente de l'Association ASUKA"
                                >
                                <div class="thumbnail">
                                    <img src="img/Kyoko_KUGAWA.jpg"/>
                                    <h4> Kyoko KUGAWA </h4>
                                    <p>Présidente</p>
                                </div>
                                <script>        
                                    $('#member_1').popover({
                                        placement:"left"
                                    });  
                                </script>
                            </li>
                            <li class="span2" 
                                id="member_2" 
                                rel="popover" 
                                data-content="Je suis Psychologue Clinicienne du Travail Souffrance au travail - Victimologie" 
                                data-original-title="Secrétaire de l'Association ASUKA"
                            >
                                <div class="thumbnail"> 
                                    <img src="img/Brigitte_CORIOU.jpg" />
                                    <h4 > Brigitte Coriou </h4>
                                    <p>Secrétaire</p>
                                </div>
                                <script>        
                                    $('#member_2').popover({
                                        placement:"left"
                                    });  
                                </script>
                            </li>
                        </ul>
                    </div>
                </div> 
            </div>
        </div>

    </div> <!-- /body-main -->
</div> <!-- /container -->

<footer class="clearfix">
    <b>&copy; ASUKA 2012 <b><br>
         Interdiction formelle de copier le contenu du site, sans notre autorisation <br> 
         (当ウエブサイトに掲載されている全ての内容の無許可コピー・転載・転用禁止)
    <br>
</footer>
