<% header = partial('header.ejs') %>

<div class="container">
    <div class="body-main">

        <div class="row cont">
            <div class="span12">
                <div class="row">
                    <div id="about" class="span8">
                        <h2>ASUKA, Naissance d'une association franco-japonaise </h2>

                            
                        <h2>De nombreuses actions déjà réalisées </h2>
                            Avant la création de notre association, six actions ont été faites dont la première était avec le soutien des bénévoles franco-japonais, ainsi que la Mairie de Nanterre, 
                            SOS Familles Emmaüs Nanterre et l’Association Cerise Nanterre, pour être solidaires avec les victimes du séisme qui a eu lieu au Japon le 11 mars 2011. Cette première vente de charité fut un vif succès. <br>
                             En juillet  2011, nous avons visité Watari et d’autres endroits sinistrés. Devant ces  tonnes de débris entassés, nous avons pensé à tous ces morts, toutes ces victimes qui essayaient de survivre malgré le deuil de leurs proches.<br>
                            Au cours des mois qui ont suivi, nous avons réunis quelques personnes animées par la même volonté d'action d’où la  programmation de  plusieurs événements pour le premier anniversaire du 11 mars 2011, 
                            à la Maison des Associations et au Cinéma Les Lumières, à Nanterre. <br>

                        <h2>Aider les populations</h2>
                            A part l’organisation d’événements culturels et humanitaires, nous avons l’intention d’effectuer des accompagnements pour un public en difficulté. <br>
                            Nous intervenons auprès de personnes en difficultés.
                            <br>
                    </div>
        
                    <div class="span4">
                        <h2>Notre équipe</h2>
                        <ul class="thumbnails">
                            <li class="span2" 
                                id="member_1" 
                                rel="popover" 
                                data-content="Je m’appelle Kyoko KUGAWA. Je suis originaire de Hiroshima, au Japon. <br> Chargée d'accompagnement social et professionnel (Niveau RNCP_niveau III )" 
                                data-original-title="Présidente de l'Association ASUKA"
                                >
                                <div class="thumbnail">
                                    <img src="img/Kyoko_KUGAWA.jpg"/>
                                    <h4> Kyoko KUGAWA </h4>
                                    <p>Présidente</p>
                                </div>
                                <script>        
                                    $('#member_1').popover({
                                        placement:"left"
                                    });  
                                </script>
                            </li>
                            <li class="span2" 
                                id="member_2" 
                                rel="popover" 
                                data-content="Je suis Psychologue Clinicienne du Travail Souffrance au travail - Victimologie" 
                                data-original-title="Secrétaire de l'Association ASUKA"
                            >
                                <div class="thumbnail"> 
                                    <img src="img/Brigitte_CORIOU.jpg" />
                                    <h4 > Brigitte Coriou </h4>
                                    <p>Secrétaire</p>
                                </div>
                                <script>        
                                    $('#member_2').popover({
                                        placement:"left"
                                    });  
                                </script>
                            </li>
                        </ul>
                    </div>
                </div> 
            </div>
        </div>

    </div> <!-- /body-main -->
</div> <!-- /container -->

<footer class="clearfix">
    <b>&copy; ASUKA 2012 <b><br>
         Interdiction formelle de copier le contenu du site, sans notre autorisation <br> 
         (当ウエブサイトに掲載されている全ての内容の無許可コピー・転載・転用禁止)
    <br>
</footer>
