<!-- Include head banner on top and include scripts -->

<% header = partial('header.ejs') %>

<div class="container">
    <div class="body-main">
        <div class="row">
            <div class="span12">
                <hgrpup>
                    <img src="img/Logo_1.jpg" alt="ASUKA"><br>
                </hgroup>
            </div>
        </div>
        
        <div class="row">
            <div class="span12">
                <div class="row">
                    <div class="span8">
                        <h2>ASUKA, une association franco-japonaise </h2>
                        <blockquote>
                            L'association Franco-Japonaise ASUKA est née après une catastrophe au Japon du 11 mars 2011. 
                            Les Japonais qui n’habitaient pas au Japon étaient tous envahis par une angoisse et un sentiment 
                            d’absurdité. Les Japonais ont commencé à bouger. Bouger, sans savoir ce que l’on pourrait faire 
                            pour les victimes. Il fallait faire quelques choses. Plusieurs groupes, ou actions s’étaient formés 
                            naturellement partout dans le monde. Chaque mouvement était soutenu par leurs amis qui n’étaient pas Japonais.
                            <br><br>
                            <i>L'association Franco-Japonaise ASUKAは2011年3月11日 東北で起こった大震災後に生まれました。
                            海外に住んでいる日本人は大きな悲しみと不条理の思いに押し潰されていました。そして、動き始めました。
                            被災者の 方たちに何をしてあげられるのさえわからないまま動き始めました。兎に角、何かしないでは居られなかったのです。
                            全世界で沢山のグループや活動が自然発生 しました。そして、それぞれは日本人以外の仲間に支えられて居ました。
                            </i><br>
                        </blockquote>
                            A travers ces expériences extraordinaires, nous avons vu des rencontres, des manières inconnues, 
                            et une solidarité internationale. Voilà la naissance de notre association à Nanterre qui se situe 
                            à l'ouest de Paris. Notre souhait consiste à « pratiquer les activités pour développer l’échange culturel 
                            et aider les populations ». Nous proposerons des projets et des activités au fur et la mesure mais vos idées seront aussi bienvenues.
                            <i>こ んな未曾有の環境の中、私達は沢山の出会い、様々な未知の方法、そして国際的ソリダリティを経験することが出来ました。
                            それが、フランス・パリ西の郊外 Nanterre市で私達のアソシエーションを誕生させたのです。私達の望みは「様々な活動を通じての文化交流、そして人々が支え合うこと」です。
                            今後、 色々な活動を提案して行きますが、皆様の斬新なアイディアも期待しております。
                            </i>
                            <br><br><br>
                            Avec d’autres Japonais et Français qui se sont reconnus dans cette cause, nous avons mené une première action 
                            le 3 avril 2011 à la Maison des Associations à Nanterre. Nous avons reçu le soutien de la municipalité de Nanterre 
                            et des associations S.O.S. Familles Emmaüs Nanterre et Cerise Nanterre. Cette première vente de charité fut un succès.<br>
                            En juillet 2011, j’ai visité Watari et d’autres endroits sinistrés. Devant les tonnes de débris entassés, 
                            j’ai pensé à toutes les victimes. Je ne voulais pas que les efforts pour surmonter cet événement ne finissent 
                            par le faire oublier. <br>
                            Forte de cette expérience, et grâce au soutien de mon entourage, je souhaite poursuivre les actions avec ce groupe d’amis.
                            C'est ainsi que notre association s'est mis en place, souhaitant apporter son soutien aux sinistrés. 
                            Nous organisons ainsi des événements commémoratifs et souhaitons humblement que vous puissiez collaborer à nos actions."
    
                        <!-- Note: Asuka a bénéficié du soutien des associations "S.O.S. Familles Emmaüs Nanterre" et "Cerise Nanterre" lors des événements du 3 avril 2011 et 11 mars 2012. -->
                    </div>
        
                    <div class="span4">
                        <h2>Notre équipe</h2>
                        <ul class="thumbnails">
                            <li class="span2">
                                <div class="thumbnail" id="member_1">
                                    <img src="http://placehold.it/200x200"/>
                                    <h4 > Kyoko KUGAWA </h4>
                                </div>
                            </li>
                            <li class="span2">
                                <div class="thumbnail"> 
                                    <img src="http://placehold.it/200x200" />
                                    <h4 > member </h4>
                                    <p>description</p>
                                </div>
                            </li>
                        </ul>
                    </div>
    
                </div>
    
            </div>
        </div>
    </div> <!-- /body-main -->
</div> <!-- /container -->

<footer class="clearfix">
    <b>&copy; ASUKA 2012 <b><br>
         Interdiction formelle de copier le contenu du site, sans notre autorisation <br> 
         (当ウエブサイトに掲載されている全ての内容の無許可コピー・転載・転用禁止)
    <br>
</footer>


<script> 
    $(function (){ 
        $("member_1").popover({
            title="Présidente de l'Association ASUKA", 
            content: "Je m’appelle Kyoko KUGAWA. Je suis originaire de Hiroshima, au Japon.<br>
                        Depuis les événements du 11 mars, je m’efforce d’apporter de l’aide à la ville de 
                        <a href=\"http://en.wikipedia.org/wiki/Watari,_Miyagi\">Watari</a>", 
            placement:"bottom"
        });  
    }); 
</script>