<!-- Include head banner on top and include scripts -->

<% header = partial('header.ejs') %>

<div class="container">
    <div class="body-main">
        
        <div class="row cont">
            <div class="span12">
                <div class="row">
                    <div id="about" class="span8">
                        <h2>ASUKA, Naissance d'une association franco-japonaise </h2>
                            "Que s’est-il passé ? Le 11 mars 2011, le Japon a subi une catastrophe gigantesque : un tremblement de terre 
                            de magnitude 9.0 sur l'échelle de Richter, suivi par un immense Tsunami, générant des vagues de plus de vingt 
                            mètres qui ont emporté maisons et familles sur leur passage. Alors qu’on pensait que le pire était passé, 
                            on découvre que la centrale de Fukushima Daiichi est dans un état plus que critique, et proche de l’explosion. 
                            La catastrophe est aussi nucléaire..."

                            L'association Franco-Japonaise ASUKA est ainsi née suite à cette catastrophe.  
                            Les Japonais qui n’habitaient pas au Japon étaient tous envahis par une angoisse et un sentiment 
                            d’absurdité. Les Japonais ont commencé à bouger. Bouger, sans savoir ce que l’on pourrait faire 
                            pour les victimes. Il fallait faire quelque chose. Plusieurs groupes, ou actions s’étaient formés 
                            naturellement partout dans le monde. Chaque mouvement était soutenu par leurs amis qui n’étaient pas Japonais.
                            <br><br>
                            <i>L'association Franco-Japonaise ASUKAは2011年3月11日 東北で起こった大震災後に生まれました。
                            海外に住んでいる日本人は大きな悲しみと不条理の思いに押し潰されていました。そして、動き始めました。
                            被災者の 方たちに何をしてあげられるのさえわからないまま動き始めました。兎に角、何かしないでは居られなかったのです。
                            全世界で沢山のグループや活動が自然発生 しました。そして、それぞれは日本人以外の仲間に支えられて居ました。
                            </i>
                            <br><br>
                            A travers ces expériences extraordinaires, nous avons vu des rencontres, des manières inconnues, 
                            et une solidarité internationale. Voilà la naissance de notre association à Nanterre qui se situe 
                            à l'ouest de Paris. Notre souhait consiste à « pratiquer les activités pour développer l’échange culturel 
                            et aider les populations ». Nous proposerons des projets et des activités au fur et la mesure mais vos idées seront aussi bienvenues.
                            <br><br>
                            <i>こ んな未曾有の環境の中、私達は沢山の出会い、様々な未知の方法、そして国際的ソリダリティを経験することが出来ました。
                            それが、フランス・パリ西の郊外 Nanterre市で私達のアソシエーションを誕生させたのです。私達の望みは「様々な活動を通じての文化交流、そして人々が支え合うこと」です。
                            今後、 色々な活動を提案して行きますが、皆様の斬新なアイディアも期待しております。
                            </i>
                            <br>
                            
                        <h2>De nombreuses actions déjà réalisées </h2>
                            Avant la création de notre association, six actions furent achevées dont la première était avec le soutien des bénévoles franco-japonais, ainsi que la Mairie de Nanterre, SOS Familles Emmaüs Nanterre et l’Association Cerise Nanterre, pour montrer la solidarité avec les victimes du séisme qui a eu lieu au Japon le 11 mars 2011. Cette première vente de charité fut un succès.<br>
                            En juillet 2011, nous avons visité Watari et d’autres endroits sinistrés. Devant les tonnes de débris entassés, nous avons pensé à toutes les victimes et nous ne voulions pas que les efforts pour surmonter cet événement ne finissent par le faire oublier. <br>
                            Au cours des mois qui ont suivi, j'ai réuni quelques personnes animées par la même volonté d'action et nous avons programmé plusieurs événements pour le 11 mars 2012, à la Maison des Associations et au Cinéma Les Lumières, à Nanterre. <br><br>
                            L’idée de créer l’association nous est venue tout naturellement. Nous sommes ravis d’avoir pu démarrer les activités de notre association par l'événement concernant la commémoration du séisme du 11 mars 2011 au Japon. <br>
                            Nous avons actuellement plusieurs projets en cours d'élaboration et cela va sûrement évoluer au fur et à mesure.
                            <br>

                        <h2>Aider les populations</h2>
                            Notre association n’est pas seulement pour les Japonais mais pour toutes les populations. La condition que nous nous imposons, c’est que les activités soient franco-japonaises. <br>
                            Arrivée à Nanterre il y à trois ans, j’ai vite compris la convivialité et la diversité humaine qui régnait dans la ville. Ainsi, je (Kyoko Kugawa) me suis engagée dans des activités bénévoles à SOS Familles Emmaüs, action qui m’a donnée l’occasion d’assister à sa création. A travers ces activités, je m’intéresse particulièrement au fonctionnement des organismes sociaux. <br>
                            A part l’organisation d’événements culturels et humanitaires, nous avons l’intention d’effectuer des accompagnements pour un public en difficulté. J’interviens auprès des compatriotes japonais dans la compréhension du fonctionnement du système administratif et juridique français. <br> 
                            J’ai réalisé que la France est parmi les pays qui tiennent à conserver les valeurs liées à l’humanitaire. Cependant, face à la crise économique actuelle, certaines se perdent. Comment être autonome tout en gardant cette valeur humanitaire. Certains arrivent à émerger seuls de leurs problématiques mais pas tous. Et ils ont besoin d’être accompagnés pour y arriver. <br>
                            A travers ces actions, nous essayons d’atteindre notre objectif, à savoir «aider les populations». 
                            <br>
                    </div>
        
                    <div class="span4">
                        <h2>Notre équipe</h2>
                        <ul class="thumbnails">
                            <li class="span2" 
                                id="member_1" 
                                rel="popover" 
                                data-content="Je m’appelle Kyoko KUGAWA. Je suis originaire de Hiroshima, au Japon. <br> Chargée d'accompagnement social et professionnel (Niveau RNCP_niveau III )" 
                                data-original-title="Présidente de l'Association ASUKA"
                                >
                                <div class="thumbnail">
                                    <img src="img/Kyoko_KUGAWA.jpg"/>
                                    <h4> Kyoko KUGAWA </h4>
                                    <p>Présidente</p>
                                </div>
                                <script>        
                                    $('#member_1').popover({
                                        placement:"left"
                                    });  
                                </script>
                            </li>
                            <li class="span2" 
                                id="member_2" 
                                rel="popover" 
                                data-content="Je suis Psychologue Clinicienne du Travail Souffrance au travail - Victimologie" 
                                data-original-title="Secrétaire de l'Association ASUKA"
                            >
                                <div class="thumbnail"> 
                                    <img src="img/Brigitte_CORIOU.jpg" />
                                    <h4 > Brigitte Coriou </h4>
                                    <p>Secrétaire</p>
                                </div>
                                <script>        
                                    $('#member_2').popover({
                                        placement:"left"
                                    });  
                                </script>
                            </li>
                        </ul>
                    </div>
    
                </div>
    
            </div>
        </div>
    </div> <!-- /body-main -->
</div> <!-- /container -->

<footer class="clearfix">
    <b>&copy; ASUKA 2012 <b><br>
         Interdiction formelle de copier le contenu du site, sans notre autorisation <br> 
         (当ウエブサイトに掲載されている全ての内容の無許可コピー・転載・転用禁止)
    <br>
</footer>
