
<% header = partial('header.ejs') %>

<div class="container">

    <div class="row">
        <div class="span12">
            <h2> Telecharger le bulletin d'adhésion </h2>
            vous pouvez télécharger le bulletin d'adhésion <a href="img/AsukaAdhesion.pdf">ici</a> <br><br>

            <h2> Cotisation annuelle </h2> 
            <table border="1">
                <tr><td> Adulte </td>                                            <td>20 euros</td></tr>
                <tr><td> Couple </td>                                            <td>35 euros</td></tr>
                <tr><td> + Enfant </td>                                          <td>+5 euros</td></tr>
                <tr><td> Chômeur, handicapé, retraité et parent de famille</td>  <td>15 euros</td></tr>
                <tr><td> Famille ou couple avec personne handicapée ou retraitée</td><td>25 euros</td></tr>
                <tr><td> Enfant de moins 18 ans (avec l'autorisation parentale)</td><td>10 euros</td></tr>
                <tr><td> Deux frères ou sœurs moins 18 ans (avec l'autorisation parentale) </td><td>15 euros</td></tr>
            </table>
        </div>
    </div>

    <div class="row">
        <div class="span12">
            <h2> Cotisation annuelle de la première adhésion (valable jusqu'à fin Janvier 2014) </h2>
            <table border="1">
                <tr><td> Adulte </td>                                            <td>15 euros</td></tr>
                <tr><td> Couple </td>                                            <td>25 euros</td></tr>
                <tr><td> + Enfant </td>                                          <td>+3 euros</td></tr>
                <tr><td> Chômeur, handicapé, retraité et parent de famille</td>  <td>10 euros</td></tr>
                <tr><td> Famille ou couple avec personne handicapée ou retraitée</td><td>20 euros</td></tr>
                <tr><td> Enfant de moins 18 ans (avec l'autorisation parentale)</td><td>7 euros</td></tr>
                <tr><td> Deux frères ou sœurs moins 18 ans (avec l'autorisation parentale) </td><td>10 euros</td></tr>
            </table>
            <br><br>
        </div>
    </div>
</div> <!-- /container -->
