<!-- Include head banner on top and include scripts -->

<% header = partial('header.ejs') %>



<div class="container">
    <h2>Evènements</h2>
    <div class="body-main">
        <div class="row">
            <div class="span12">
                <div class="row">
                    <div class="span8"> 
                        <ul id="event" class="clearfix">
                            <h3> Prochainement ! </h3>
                            <li class="event-info clearfix">
                                <div class="row">
                                    <div class="span2">
                                        <img src="img/evt-comlabeille.jpg" width="100%" height="150" alt="comme l'abeille qui fait tourner la terre"/>  <br>  
                                        <div class="mybtn"> 
                                            <a href="img/ASUKA_hKAMANAKA_abeille.pdf"><i class="icon-film"></i> renseignements</a> 
                                        </div>
                                    </div>
                                    <div class="span6 event-desc">
                                        <hgroup>
                                            <h4>"Comme l'abeille qui fait tourner la terre" </h4>
                                            <p class="date">2012/11/24 NANTERRE, dans le cadre de "la journée de la solidarité internationale" </p>
                                        </hgroup>
                                        <p>
                                            Après avoir produit son premier film "Uncle Suecha" en 1990, Hitomi Kamanaka a étudié à l’Office National du Film du Canada grâce à une subvention du ministère de la culture du Japon. Lors de son passage à la Paper Tiger à New York en 1993, elle a travaillé en tant que«Media activiste » à une chaîne TV du câble.
                                            Depuis son retour au Japon en 1995, elle produit des émissions télévisées et des films en freelance.
                                            Ses films sont projetés dans le monde entier. "Hibakusha—At the End of the World"(2003) projeté plus de 400 fois et "Rokkasho Rhapsody"(2006) plus de 650 fois.
                                            Dans ses films, Hitomi Kamanaka s’efforce d’impliquer    les	spectateurs	en	suscitant réflexions et discussions.<br>
                                            Le film "Comme l'abeille qui fait tourner la terre" de Hitomi KAMANAKA, dans le cadre de la "Journée de la solidarité internationale", 
                                            sera projeté par l'association franco-Japonaise ASUKA à la ville de Nanterre. 
                                        </p>
                                    </div>
                                </div>
                            </li>
                                
                            <h3>Evénements réalisés </h3>

                            <li class="event-info clearfix">
                                <div class="row">
                                    <div class="span2">
                                        <img src="img/evt-PourDemain.jpg" width="100%" height="150" alt="pour demain"/>  <br>  
                                        <div class="mybtn"> 
                                            <a href="http://www.flickr.com/photos/78117525@N06/sets/72157629247827812/show/"><i class="icon-film"></i> photos</a> 
                                        </div>
                                    </div>
                                    <div class="span6 event-desc">
                                        <hgroup>
                                            <h4>"Pour Demain" </h4>
                                            <p class="date">2012/03/11 </p>
                                        </hgroup>
                                        <p>
                                            En commémoration du premier anniversaire du séisme survenu au Japon le 11 Mars 2011, 
                                            une journée caritative fut célébré, afin que les efforts entrepris pour surmonter cette 
                                            tragédie ne soient pas oubliés. Cette journée se déroula à la 
                                            <a href="http://www.nanterre.fr/Citoyens/Delavilleaumonde/Actualit%C3%A9s/Fukushima.htm">Maison des Associations</a> 
                                            ainsi qu'au Cinéma des Lumières à Nanterre, rythmée par la vente de plats Japonais, d'artisanat 
                                            et d'origamis suspendus, de démonstrations de calligraphie, la vente d'oeuvres artisanales créées 
                                            par les victimes du séisme au Japon, l'exposition des photos d'animaux abandonnés et leurs amis Japonais,
                                            la projection de diaporamas
                                        </p>
                                    </div>
                                </div>
                            </li>

                            <li class="event-info clearfix">
                                <div class="row">
                                    <div class="span2">
                                        <img src="http://farm7.staticflickr.com/6238/6296372354_52be61eca5_q.jpg" width="100%"/> <br>
                                        <div class="mybtn"> 
                                            <a href="http://www.flickr.com/photos/kokoro_japon/sets/72157627889675455/show/"><i class="icon-info-sign"></i> photos </a> 
                                        </div>
                                    </div>
                                    <div class="span6 event-desc">
                                        <h4> "Cuisine Japonaise" </h4>
                                        <p class="date">23/10/2011</p>
                                        <p>
                                            Cours de cuisine japonaise par un traiteur Japonais à Yamazen Paris
                                        </p>
                                    </div>
                                </div>
                            </li>

                            <li class="event-info clearfix">
                                <div class="row">
                                    <div class="span2">
                                        <img src="img/20110710_Tokyo.jpg" width="100%"/>
                                    </div>
                                    <div class="span6 event-desc">
                                        <h4> "Visite et Vente de Charité à Tokyo" </h4>
                                        <p class="date">10/07/2011</p>
                                        <p>
                                            Visite des endroits sinistrés (Watari, Yamamoto, Kakuda, Sendai, Ishinomaki, tous du département Miyagi) 
                                            après avoir effectué une vente de charité à Tokyo pour les victime du séisme : le 10 juillet 2011
                                        </p>
                                    </div>
                                </div>
                            </li>

                            <li class="event-info clearfix">
                                <div class="row">
                                    <div class="span2">
                                        <img src="http://farm6.staticflickr.com/5198/5864577998_9de2da0754_m.jpg" width="100%"/>
                                        <div class="mybtn"> 
                                            <a href="http://www.flickr.com/photos/kokoro_japon/sets/72157627031468870/show/"><i class="icon-info-sign"></i> photos</a>
                                        </div>
                                    </div>
                                    <div class="span6 event-desc">
                                        <h4> "Vente de Charité" </h4>
                                        <p class="date">18/06/2011</p>
                                        <p> Vente de charité pour la solidarité avec les victimes du séisme. </p>
                                    </div>
                                </div>
                            </li>

                            <li class="event-info clearfix">
                                <div class="row">
                                    <div class="span2">
                                        <img src="http://farm6.staticflickr.com/5105/5863222077_46dedb5e0e_q.jpg" width="100%"/><br>
                                        <div class="mybtn"> 
                                            <a href="http://www.flickr.com/photos/kokoro_japon/sets/72157626905187405/show/"><i class="icon-info-sign"></i> photos</a>
                                        </div>
                                    </div>
                                    <div class="span6 event-desc">
                                        <h4> "Vente de Charité" </h4>
                                        <p class="date">11/06/2011</p>
                                        Vente de charité à Paris 20°. Collaboration avec l’Association pour l'Estampe et l'Art Populaire. 
                                        Soirée d'échange Franco-Japonais pour la solidarité avec la ville de Watari (Miyagi, Japon). 
                                        Galerie de l'Association pour l'estampe et l'art populaire, 49bis, rue des Cascades, 75020, Paris. 
                                    </div>
                                </div>
                            </li>
                            
                            <li class="event-info clearfix">
                                <div class="row">
                                    <div class="span2">
                                        <img src="http://farm6.staticflickr.com/5298/5588126313_ce7418277c_q.jpg" width="100%"/> <br>
                                        <div class="mybtn"> 
                                            <a href="http://www.flickr.com/photos/francojapon/sets/72157626523429914/show/"><i class="icon-info-sign"></i> photos</a>
                                        </div>
                                    </div>
                                    <div class="span6 event-desc">
                                        <h4> "Vente de Charité" </h4>
                                        <p class="date"> 03/04/2011 </p>
                                        Vente de charité à Nanterre. Participation de la ville de Nanterre, S.O.S. Famille Emmaüs, Cerise Nanterre 
                                    </div>
                                </div>
                            </li>
                        </ul>
                    
                
                        <div class="span8">
                            <h2>Le saviez-vous?</h2>
                            <p><b>le senbazuru </b></p>
                            <p> Senbazuru signifie "la Légende des milles grues", une légende originaire du Japon selon laquelle on peut voir son voeu de santé, longévité, d'amour ou de bonheur s'exaucé si l'on plie mille grues en papier. Il s'agit bien entendu d'origamis, pratique très rampandue au Japon.</p>
                            <img src="img/Senbazuru.jpg" width="150px"/><br>
                            <img src="img/Senbazuru_pict.jpg" width="150px"/><br>
                        </div> <!-- /span8 --> 
                    
                    </div> <!-- /span8 -->    
                
                    <div class="span4 sidepanel">
                        <ul>
                            <li>
                                <div id="fb-root"></div>
                                <a href="<%=fb_public_loc%>"><img src="<%=fb_app_logo%>?type=normal"/></a><br/>
                                <div class="fb-like" data-href="<%=url_ref%>" data-send="false" data-layout="button_count" data-width="400" data-show-faces="false"></div>
                                <script>(function(d, s, id) {
                                      var js, fjs = d.getElementsByTagName(s)[0];
                                      if (d.getElementById(id)) return;
                                      js = d.createElement(s); js.id = id;
                                      js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=<%=fb_app_id%>";
                                      fjs.parentNode.insertBefore(js, fjs);
                                    }(document, 'script', 'facebook-jssdk'));
                                </script>
                            </li>
                            <li>
                                <!-- AddThis Button BEGIN -->
                                <div class="addthis_toolbox addthis_default_style ">
                                    <a class="addthis_button_preferred_1"></a>
                                    <a class="addthis_button_preferred_2"></a>
                                    <a class="addthis_button_preferred_3"></a>
                                    <a class="addthis_button_preferred_4"></a>
                                    <a class="addthis_button_compact"></a>
                                    <a class="addthis_counter addthis_bubble_style"></a>
                                </div>
                                <script type="text/javascript" src="http://s7.addthis.com/js/250/addthis_widget.js#pubid=ra-4f9b030d7caf5ae6"></script>
                                <!-- AddThis Button END -->           
                            </li>

                            <li>
                                <b>Soutenez nos projets par vos dons </b>
                                <form action="https://www.paypal.com/cgi-bin/webscr" method="post">
                                <input type="hidden" name="cmd" value="_donations">
                                <input type="hidden" name="business" value="assuka.11032011@gmail.com">
                                <input type="hidden" name="lc" value="FR">
                                <input type="hidden" name="item_name" value="ASUKA">
                                <input type="hidden" name="no_note" value="0">
                                <input type="hidden" name="currency_code" value="EUR">
                                <input type="hidden" name="bn" value="PP-DonationsBF:btn_donate_LG.gif:NonHostedGuest">
                                <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donate_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
                                <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
                                </form>
                            </li>
                            <!--<h3>Nouvelles</h3>-->
                        </ul>
                    </div> <!-- /sidepanel -->
                </div> <!-- /row -->    
            </div> <!-- /span12 -->
        </div> <!-- /row -->
      <hr>
    </div> <!-- /body-main-->
</div> <!-- /container -->

<footer class="clearfix">
    <b class="footpart">&copy; ASUKA 2012 </b> <br>
        Interdiction formelle de copier le contenu du site, sans notre autorisation <br> 
        (当ウエブサイトに掲載されている全ての内容の無許可コピー・転載・転用禁止) <br>
        This web site is currently being upgraded - If you would like to support, please contact <a href="http://www.linkedin.com/in/fredericfok">Frederic Fok</a>
    <br>
</footer>
