<!-- Include head banner on top and include scripts -->

<% header = partial('header.ejs') %>

<div class="container">
    <h2>Evènements</h2>
    <div class="body-main">
        <div class="row">
            <div class="span12">
                <div class="row">
                    <div class="span8"> 
                        <ul id="event" class="clearfix">
                            <h3> Prochainement ! </h3>
                            <li class="event-info clearfix">
                                <div class="row">
                                    <div class="span2">
                                        <div class="mybtn"> 
                                            <img src="" width="100%" height="150" alt=""/>
                                            <a href=""><i class="icon-film"></i></a>
                                        </div>
                                    </div>
                                    <div class="span6 event-desc">
                                        <hgroup>
                                            <h4>  Exposition itinérante de photos des enfants de Fukushima </h4>
                                            <p class="date">version hiver : mars-mai 2014, version été : août-octobre 2014 </p>
                                        </hgroup>
                                        <p> Nous avons le plaisir de vous proposer une exposition sur la situation des enfants de Fukushima.
                                        Il s'agit d'une exposition itinérante que l'association franco-japonaise ASUKA déploie à Nanterre, et notamment en France entière. </p>
                                        <p> Ce projet a pour but de faire connaître la situation actuelle de ces enfants, de susciter un intérêt voire une mobilisation en leur faveur. </p>
                                    </div>
                                </div>
                            </li>
                             <li class="event-info clearfix">
                                <div class="row">
                                    <div class="span2">
                                        <img src="" width="100%" height="150" alt=""/>
                                        <div class="mybtn"> 
                                            <a href=""><i class="icon-film"></i></a>
                                        </div>
                                    </div>
                                    <div class="span6 event-desc">
                                        <hgroup>
                                            <h4>  Evénement de commémoration du Séisme au Japon </h4>
                                            <p class="date">2014/03/15 19h (ouverture des portes à 18h45) à la Salle des Fêtes de <a href="http://www.nanterre.fr/247-l-agora-maison-des-initiatives-citoyennes.htm">Nanterre</a> </p>
                                        </hgroup>
                                        <p> Cela fait déjà trois ans que le Japon a été frappé (le 11 mars 2011) par un séisme colossal. </p>
                                        <p> Nous organisons un événement de commémoration pour ne pas l’oublier. </p>
                                    </div>
                                </div>
                            </li>
                                 <li class="event-info clearfix">
                                <div class="row">
                                    <div class="span2">
                                        <img src="" width="100%" height="150" alt=""/>
                                        <div class="mybtn"> 
                                            <a href=""><i class="icon-film"></i></a>
                                        </div>
                                    </div>
                                    <div class="span6 event-desc">
                                        <hgroup>
                                            <h4>  Atelier de cuisine Japonaise (Yose-Nabe)  </h4>
                                            <p class="date">2014/02/16 </p>
                                        </hgroup>
                                        <p> Nous organisons un cours de cuisine japonaise en petit groupes. Il s’agit du « Nabe ». </p>
                                        <p> Le nabe ou nabemono (« marmite » ou « casserole » en traduction littérale) est un mets familial de l'hiver au Japon. </p> 
                                        <p> Le nabe représente plus un concept qu'une recette. En français, on traduirait cela par "fondue". Chauffé par un réchaud sur la table, on prépare une soupe — la plus simple étant juste de l'eau, souvent avec du bouillon de poisson, ou konbu (algues séchées) — dans une grande marmite, où de multiples ingrédients seront plongés petit à petit. </p>
                                    </div>
                                </div>
                            </li>
                            
                                
                            <h3>Evénements réalisés </h3>
                            <li class="event-info clearfix">
                                <div class="row">
                                    <div class="span2">
                                        <img src="img/MikaNoro_ASUKA_1.jpg" width="100%" height="150" alt="Mika Noro"/><br>
                                        <img src="img/KolinKobayashi_ASUKA_2.jpg" width="100%" height="150" alt="Kolin Kobayashi"/>
                                        <div class="mybtn"> 
                                            <a href="https://drive.google.com/file/d/0BxUns9aYAgM0WW4wcHdSaFFpVGs/edit?usp=sharing"><i class="icon-info-sign"></i> renseignements</a> 
                                            <a href="http://www.ipernity.com/doc/276507/28819613/in/album/578931"><i class="icon-film"></i></a>
                                        </div>
                                    </div>
                                    <div class="span6 event-desc">
                                        <hgroup>
                                            <h4>  Quel avenir pour les enfants de Fukushima ? </h4>
                                            <p class="date">2013/11/21 19h (ouverture des portes à 18h45) à l’Agora <a href="http://www.nanterre.fr/247-l-agora-maison-des-initiatives-citoyennes.htm"/>Nanterre </a></p>
                                        </hgroup>
                                        <p> Nous serons en direct avec le Japon en vidéoconférence, autour de la question de la protection des populations après l’accident nucléaire de Fukushima, et vous présenterons les répercutions sanitaires et sociales de cet accident sur le peuple japonais. </p>
                                        <p> Dans le cadre de la Semaine de la Solidarité Internationale, ASUKA a le plaisir d’organiser une vidéoconférence en direct avec le Japon avec Mika Noro, présidente de l’association à but non lucratif «Un pont vers Tchernobyl - Tchernobyl no Kakehashi - チェルノブイリのかけはし » 
                                            et en présence de Kolin Kobayashi, journaliste indépendant, correspondant en France de la revue internationale de photojournalisme «Days Japan», nous présentera une conférence sur les répercutions sanitaires et sociales de l’accident nucléaire de Fukushima sur le peuple japonais. </p>
                                    </div>
                                </div>
                            </li>
                            <li class="event-info clearfix">
                                <div class="row">
                                    <div class="span2">
                                        <img src="img/20130427_miracle_1-4.png" width="100%" height="150" alt="Tu es très bien tel que tu es"/>  <br>  
                                        <div class="mybtn"> 
                                            <a href="https://docs.google.com/file/d/0BxUns9aYAgM0MTM0SDJXc242enM/edit?usp=sharing"><i class="icon-film"></i> renseignements</a> 
                                            <a href="http://www.ipernity.com/doc/276507/album/314503/show"><i class="icon-film"></i> photos (Reiko Nonaka) </a>
                                        </div>
                                    </div>
                                    <div class="span6 event-desc">
                                        <hgroup>
                                            <h4> Le miracle du 1/4- notre véritable histoire- Tu es très bien tel que tu es </h4>
                                            <p class="date">2013/04/27 15h - "Semaine de ouf" à <a href="http://www.nanterre.fr/76-semaine-de-ouf.htm"> NANTERRE </a></p>
                                        </hgroup>
                                        <p> <br>
                                        <a href="http://www.youtube.com/watch?v=sWOIad42_fk">video</a>
                                        Ce film documentaire a été volontairement montré en projections privées dans de nombreuses salles
                                        à travers le Japon et a attiré un nombre de visiteurs sans précédent. La vie de certaines personnes en a été changée, car il raconte une partie de "NOTRE histoire" : la chaîne de la vie, le miracle de la vie, l’importance de chacun. Les divers témoignages se rejoignent pour nous émouvoir ou nous donner du courage. <br>
                                        Si nous arrivions à appréhender le handicap ou la maladie comme un simple trait de caractère, si cet état montre une autre vision de l'humain, ... ? Les révélations présentées dans ce film pourraient bien modifier la vision que nous avons de nous-mêmes et de tout ce qui nous entoure.<br>
                                        A l’heure actuelle, le film commence à gagner le cœur des spectateurs en dehors du territoire japonais. Nous sommes persuadés que ce documentaire porte un message universel capable de toucher les cœurs de tous les peuples.<br> 
                                        Ce n'est pas un documentaire de plus sur le handicap et son message s'étend au-delà des frontières entre « handicap » et « non-handicap ».
                                        </p>
                                    </div>
                                </div>
                            </li>
                            <li class="event-info clearfix">
                                <div class="row">
                                    <div class="span2">
                                        <img src="/img/20130316_reiko.jpg" width="100%" height="150" alt="Concert de commémoration du Séisme"/>  <br>  
                                        <div class="mybtn"> 
                                            <a href="https://docs.google.com/file/d/0BxUns9aYAgM0SmJ6dEhrSmEzbFU/edit?usp=sharing"><i class="icon-film"></i> renseignements</a> 
                                            <a href="http://www.ipernity.com/doc/276507/album/306113/show"><i class="icon-film"></i> photos (Reiko Nonaka) </a>
                                        </div>
                                    </div>
                                    <div class="span6 event-desc">
                                        <hgroup>
                                            <h4> Concert de commémoration du Séisme au Japon </h4>
                                            <p class="date">2013/03/16 19h - 21h30 NANTERRE </p>
                                        </hgroup>
                                        <p>
                                        Au programme : <a href="http://www.nanterre.fr/evenement/253/69-agenda.htm"> L'agenda </a> <br>
                                        <ul>
                                        <li> concert de Pépite et Nori Ubukata et Cosmic Berry </li>
                                        <li> Natsumi Tokoro (danse contemporaine) </li>
                                        <li> buffet japonais (payant) </li>
                                        <li> Entrée pour le concert : <ul>
                                            <li> 8 euros </li>
                                            <li> 6 euros (adhérent, chômeur, handicapé, retraité, mono-parent et Carte Nanterrien) </li>
                                            <li> 3 euros (enfant) </li>
                                            </ul>
                                        </li>
                                        </ul>
                                        </p>
                                        <p><a href="http://www.nanterre.fr/xtmc/asuka/xtcr/1/1249-nanterre-se-mobilise-a-la-suite-u-seisme-au-japon.htm"/>Nanterre se mobilise</a></p>
                                    </div>
                                </div>
                            </li>
                            <li class="event-info clearfix">
                                <div class="row">
                                    <div class="span2">
                                        <img src="/img/20130210_tempura.jpg" width="200px" alt="Cours de cuisine (tempura) "/>  <br>  
                                        <div class="mybtn"> 
                                            <a href="https://docs.google.com/file/d/0BxUns9aYAgM0RUYxaWZmLUFNcGc/edit?usp=sharing"><i class="icon-film"></i> Recette ! </a> 
                                            <a href="https://drive.google.com/file/d/0BxUns9aYAgM0MkhJZDZLbGhVWGc/edit?usp=sharing"><i class="icon-film"></i> Photos </a>
                                        </div>
                                    </div>
                                    <div class="span6 event-desc">
                                        <hgroup>
                                            <h4> Atelier de cuisine Japonaise (Tempura) </h4>
                                            <p class="date">2013/02/10 </p>
                                        </hgroup>
                                        <p>
                                        Nous avons organisé un cours de cuisine japonaise en petit groupes de quatre personnes. Voici leur travail ! Deux parmis eux ont déjà réussi à réaliser le tenpura à la maison. <br>
                                        Le prochain cours est envisagé en mai 2013. Il s’agit du Nabe avec l’Udon fait à la main. Le nabe ou nabemono (« marmite » ou « casserole » en traduction littérale) est un mets familial de l'hiver au Japon. Le nabe représente plus un concept qu'une recette. <br> 
                                        En français, on traduirait cela par "fondue". Chauffé par un réchaud sur la table, on prépare une soupe — la plus simple étant juste de l'eau, souvent avec du bouillon de poisson, ou konbu (algues séchées) — dans une grande marmite, où de multiples ingrédients seront plongés petit a petit.
                                        </p>
                                    </div>
                                </div>
                            </li>
                            <li class="event-info clearfix">
                                <div class="row">
                                    <div class="span2">
                                        <img src="img/evt-comlabeille.jpg" width="100%" alt="comme l'abeille qui fait tourner la terre"/>  <br>  
                                        <div class="mybtn"> 
                                            <a href="https://docs.google.com/open?id=0BxUns9aYAgM0S1lBYUE4RTBxM0k"><i class="icon-film"></i> renseignements</a> 
                                            <a href="https://docs.google.com/open?id=0BxUns9aYAgM0OXJkaEcyRGNSaU0"><i class="icon-film"></i> ご案内</a> 
                                            <a href="http://www.flickr.com/photos/78117525%40N06/sets/72157632141866996/show/"><i class="icon-film"></i> photos (Reiko Nonaka) </a>
                                        </div>
                                    </div>
                                    <div class="span6 event-desc">
                                        <hgroup>
                                            <h4>"Diffusion d'un film suivi d'un débat animé par la réalisatrice Hitomi Kamanaka" </h4>
                                            <p class="date">2012/11/24 NANTERRE, dans le cadre de "la semaine de la solidarité internationale" </p>
                                        </hgroup>
                                        <p>
                                            Après avoir produit son premier film "Uncle Suecha" en 1990, Hitomi Kamanaka a étudié à l’Office National du Film du Canada grâce à une subvention du ministère de la culture du Japon. Lors de son passage à la Paper Tiger à New York en 1993, elle a travaillé en tant que«Media activiste » à une chaîne TV du câble.
                                            Depuis son retour au Japon en 1995, elle produit des émissions télévisées et des films en freelance.
                                            Ses films sont projetés dans le monde entier. "Hibakusha—At the End of the World"(2003) projeté plus de 400 fois et "Rokkasho Rhapsody"(2006) plus de 650 fois.
                                            Dans ses films, Hitomi Kamanaka s’efforce d’impliquer    les    spectateurs    en	suscitant réflexions et discussions.<br>
                                            Le film "Comme l'abeille qui fait tourner la terre" de Hitomi KAMANAKA, dans le cadre de la "semaine de la solidarité internationale", 
                                            sera projeté par l'association franco-Japonaise ASUKA à la ville de Nanterre. 
                                        </p>
                                    </div>
                                </div>
                            </li>

                            <li class="event-info clearfix">
                                <div class="row">
                                    <div class="span2">
                                        <img src="img/evt-PourDemain.jpg" width="100%" alt="pour demain"/>  <br>  
                                        <div class="mybtn"> 
                                            <a href="http://www.flickr.com/photos/78117525@N06/sets/72157629247827812/show/"><i class="icon-film"></i> photos (prises par Reiko Nonaka)</a> 
                                        </div>
                                    </div>
                                    <div class="span6 event-desc">
                                        <hgroup>
                                            <h4>"Pour Demain" </h4>
                                            <p class="date">2012/03/11 </p>
                                        </hgroup>
                                        <p>
                                            En commémoration du premier anniversaire du séisme survenu au Japon le 11 Mars 2011, 
                                            une journée caritative fut célébré, afin que les efforts entrepris pour surmonter cette 
                                            tragédie ne soient pas oubliés. Cette journée se déroula à la 
                                            <a href="http://www.nanterre.fr/Citoyens/Delavilleaumonde/Actualit%C3%A9s/Fukushima.htm">Maison des Associations</a> 
                                            ainsi qu'au Cinéma des Lumières à Nanterre, rythmée par la vente de plats Japonais, d'artisanat 
                                            et d'origamis suspendus, de démonstrations de calligraphie, la vente d'oeuvres artisanales créées 
                                            par les victimes du séisme au Japon, l'exposition des photos d'animaux abandonnés et leurs amis Japonais,
                                            la projection de diaporamas
                                        </p>
                                    </div>
                                </div>
                            </li>

                            <li class="event-info clearfix">
                                <div class="row">
                                    <div class="span2">
                                        <img src="http://farm7.staticflickr.com/6238/6296372354_52be61eca5_q.jpg" width="100%"/> <br>
                                        <div class="mybtn"> 
                                            <a href="http://www.flickr.com/photos/kokoro_japon/sets/72157627889675455/show/"><i class="icon-info-sign"></i> photos (prises par Reiko Nonaka) </a> 
                                        </div>
                                    </div>
                                    <div class="span6 event-desc">
                                        <h4> "Cuisine Japonaise" </h4>
                                        <p class="date">23/10/2011</p>
                                        <p>
                                            Cours de cuisine japonaise par un traiteur Japonais à Yamazen Paris
                                        </p>
                                    </div>
                                </div>
                            </li>

                            <li class="event-info clearfix">
                                <div class="row">
                                    <div class="span2">
                                        <img src="img/20110710_Tokyo.jpg" width="100%"/>
                                    </div>
                                    <div class="span6 event-desc">
                                        <h4> "Visite et Vente de Charité à Tokyo" </h4>
                                        <p class="date">10/07/2011</p>
                                        <p>
                                            Visite des endroits sinistrés (Watari, Yamamoto, Kakuda, Sendai, Ishinomaki, tous du département Miyagi) 
                                            après avoir effectué une vente de charité à Tokyo pour les victime du séisme : le 10 juillet 2011
                                        </p>
                                    </div>
                                </div>
                            </li>

                            <li class="event-info clearfix">
                                <div class="row">
                                    <div class="span2">
                                        <img src="http://farm6.staticflickr.com/5198/5864577998_9de2da0754_m.jpg" width="100%"/>
                                        <div class="mybtn"> 
                                            <a href="http://www.flickr.com/photos/kokoro_japon/sets/72157627031468870/show/"><i class="icon-info-sign"></i> photos (prises par Marius Kugawa-Albu)</a>
                                        </div>
                                    </div>
                                    <div class="span6 event-desc">
                                        <h4> "Vente de Charité" </h4>
                                        <p class="date">18/06/2011</p>
                                        <p> Vente de charité pour la solidarité avec les victimes du séisme. </p>
                                    </div>
                                </div>
                            </li>

                            <li class="event-info clearfix">
                                <div class="row">
                                    <div class="span2">
                                        <img src="http://farm6.staticflickr.com/5105/5863222077_46dedb5e0e_q.jpg" width="100%"/><br>
                                        <div class="mybtn"> 
                                            <a href="http://www.flickr.com/photos/kokoro_japon/sets/72157626905187405/show/"><i class="icon-info-sign"></i> photos (prises par Reiko Nonaka et Christophe Deguez)</a>
                                        </div>
                                    </div>
                                    <div class="span6 event-desc">
                                        <h4> "Vente de Charité" </h4>
                                        <p class="date">11/06/2011</p>
                                        Vente de charité à Paris 20°. Collaboration avec l’Association pour l'Estampe et l'Art Populaire. 
                                        Soirée d'échange Franco-Japonais pour la solidarité avec la ville de Watari (Miyagi, Japon). 
                                        Galerie de l'Association pour l'estampe et l'art populaire, 49bis, rue des Cascades, 75020, Paris. 
                                    </div>
                                </div>
                            </li>
                            
                            <li class="event-info clearfix">
                                <div class="row">
                                    <div class="span2">
                                        <img src="http://farm6.staticflickr.com/5298/5588126313_ce7418277c_q.jpg" width="100%"/> <br>
                                        <div class="mybtn"> 
                                            <a href="http://www.flickr.com/photos/francojapon/sets/72157626523429914/show/"><i class="icon-info-sign"></i> photos (prises par Yoko Yamamoto)</a>
                                        </div>
                                    </div>
                                    <div class="span6 event-desc">
                                        <h4> "Vente de Charité" </h4>
                                        <p class="date"> 03/04/2011 </p>
                                        Vente de charité à Nanterre. Participation de la ville de Nanterre, S.O.S. Famille Emmaüs, Cerise Nanterre 
                                    </div>
                                </div>
                            </li>
                        </ul>
                    
                
                        <div class="span8">
                            <h2>Le saviez-vous?</h2>
                            <p><b>le senbazuru </b></p>
                            <p> Senbazuru signifie "la Légende des milles grues", une légende originaire du Japon selon laquelle on peut voir son voeu de santé, longévité, d'amour ou de bonheur s'exaucé si l'on plie mille grues en papier. Il s'agit bien entendu d'origamis, pratique très rampandue au Japon.</p>
                            <img src="img/Senbazuru.jpg" width="150px"/><br>
                            <img src="img/Senbazuru_pict.jpg" width="150px"/><br>
                        </div> <!-- /span8 --> 
                    
                    </div> <!-- /span8 -->    
                
                    <div class="span4 sidepanel">
                        <ul>
                            <li>
                                <div id="fb-root"></div>
                                <a href="<%=fb_public_loc%>"><img src="<%=fb_app_logo%>?type=normal"/></a><br/>
                                <div class="fb-like" data-href="<%=url_ref%>" data-send="false" data-layout="button_count" data-width="400" data-show-faces="false"></div>
                                <script>(function(d, s, id) {
                                      var js, fjs = d.getElementsByTagName(s)[0];
                                      if (d.getElementById(id)) return;
                                      js = d.createElement(s); js.id = id;
                                      js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=<%=fb_app_id%>";
                                      fjs.parentNode.insertBefore(js, fjs);
                                    }(document, 'script', 'facebook-jssdk'));
                                </script>
                            </li>
                            <li>
                                <!-- AddThis Button BEGIN -->
                                <div class="addthis_toolbox addthis_default_style ">
                                    <a class="addthis_button_preferred_1"></a>
                                    <a class="addthis_button_preferred_2"></a>
                                    <a class="addthis_button_preferred_3"></a>
                                    <a class="addthis_button_preferred_4"></a>
                                    <a class="addthis_button_compact"></a>
                                    <a class="addthis_counter addthis_bubble_style"></a>
                                </div>
                                <script type="text/javascript" src="http://s7.addthis.com/js/250/addthis_widget.js#pubid=ra-4f9b030d7caf5ae6"></script>
                                <!-- AddThis Button END -->           
                            </li>

                            <li>
                                <b>Soutenez nos projets par vos dons </b>
                                <form action="https://www.paypal.com/cgi-bin/webscr" method="post">
                                <input type="hidden" name="cmd" value="_donations">
                                <input type="hidden" name="business" value="assuka.11032011@gmail.com">
                                <input type="hidden" name="lc" value="FR">
                                <input type="hidden" name="item_name" value="ASUKA">
                                <input type="hidden" name="no_note" value="0">
                                <input type="hidden" name="currency_code" value="EUR">
                                <input type="hidden" name="bn" value="PP-DonationsBF:btn_donate_LG.gif:NonHostedGuest">
                                <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donate_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
                                <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
                                </form>
                            </li>
                        </ul>
                        <h3>Carrefour culturel concernant le Japon</h3>
                        <h4>En France</h4>
                        <ul>
                            <li> <a href="http://www.kaetsu.fr/" target="_blank">Kaetsu (artiste et boutique japonais, Paris)</a></li>
                            <li> <a href="http://satomisakuma.canalblog.com/" target="_blank">Satomi Sakuma (artiste, Paris)</a></li>
                            <li> <a href="http://www.miyakodori.fr/" target="_blank">Miyakodori (boutique manekineko, Paris)</a></li>
                            <li> <a href="http://www.reikononaka.com/" target="_blank">Reiko Nonaka (photographe, Paris)</a></li> <!-- http://www.joy.hi-ho.ne.jp/reiko-private/ -->
                            <li> <a href="http://creative.arte.tv/de/space/Mami_KIYOSHI/messages/" target="_blank"> Mami Kiyoshi (photographe, Paris) </a></li>
                            <li> <a href="http://sakurabiscuit.jimdo.com" target="_blank"> Michiyo YAMASHITA (Illustratrice Céramiste, Paris)</a>, <a href="http://sakurabiscuit.blogspot.fr">blogspot</a></li>
                            <li> <a href="http://cadeauxdenoel.org/2011/artistes/michiko_h/" target="_blank"> Michiko (artiste, Paris) </a></li>
                            <li> <a href="http://www.haili.com/takapomme/" target="_blank">Takako (Peintre Graveur, Paris)</a></li>
                            <li> <a href="http://chryst.fr.gd/Entr-e2-e-%26%2312424%3B%26%2312358%3B%26%2312371%3B%26%2312381%3B.htm" target="_blank"> COULI art (artiste, Paris)</a></li>
                            <li> <a href="http://billancourt.blog50.fc2.com/" target="_blank"> イル・サンジェルマンの散歩道 (フランスの教育・社会, ブローニュ・ビヤンクール) </a></li>
                            <li> <a href="http://japonaide.org/" target="_blank"> JAPONAIDE (association humanitaire, Paris)</a></li>
                            <li> <a href="http://cosmicberry.bandcamp.com/" target="_blank"> Cosmic Berry </li>
                            <li> <a href="http://lemiracleduquart.blogspot.fr/search?updated-min=2011-01-01T00:00:00-08:00&updated-max=2012-01-01T00:00:00-08:00&max-results=11" target="_blank"> Association l'Equipe 1/4 </a></li>
                            <li> <a href="http://www.mayukoyui.com" target="_blank"> Mayuko Yui (artiste, Paris) </a></li>
                            <li> <a href="http://www.katatsumuri.fr/" target="_blank"> katatsumuri </a></li>
                            <li> <a href="http://dejimaasso.jimdo.com/" target="_blank"> L’association Dejima </a></li>
                            <li> <a href="http://ki-mono.org/">ki-mono.org</a></li>
                        </ul>
                        <h4>En Angleterre</h4>
                        <ul>
                            <li> <a href="http://www.facebook.com/WorldNetworkForSavingChildrenFromRadiation?ref=stream" target="_blank"> World Network For Saving Children From Radiation (association humanitaire, London)</a></li>
                        </ul>
                        <h4>En Suisse</h4>
                        <ul>
                            <li> <a href="http://www.committee-of-european-excellence.com/winners/yatchi/yatchi.htm" target="_blank"> Yatchi (artiste, Genève) </a></li>
                        </ul>
                        <h4>En Belgique </h4>
                        <ul>
                            <li> <a href="http://belgiquedekurasu.blog59.fc2.com/blog-entry">belgiquedekurasu</a></li>
                        </ul>
                        <h4>En Lettonie</h4>
                        <ul>
                            <li> <a href="http://ameblo.jp/yusaku-diary/" target="_blank"> Yusaku Toyoshima (pro footballeur, FC Olympia Balti Moldavie) </a></li>
                        </ul>
                        <h4> En Pologne </h4>
                        <ul>
                            <li> <a href="http://ameblo.jp/so-6/" target="_blank"> Shotaro Okada (pro footballeur) </a></li>
                        </ul>
                        <h4>Au Japon</h4>
                        <ul>
                            <li> <a href="http://888earth.net/index.html" target="_blank"> Comme l'abeille qui fait tourner la terre (film, Tokyo) </a></li>
                            <li> <a href="http://www.reali.co.jp/" target="_blank"> Reali Corporation 株式会社レアリ (Tokyo) </a></li>
                            <li> <a href="http://watari-ichigokko.blogspot.fr/" target="_blank"> Watari Ichigokko (Watari, Miyagi), 亘理いちごっこ（宮城県亘理町) </a> </li>
                            <li> <a href="http://pepite.catfood.jp/index.html" target="_blank"> Pépite (Boite à Musique avec les cartes perforée </a> <a href="http://musicbox330.blog25.fc2.co">blog</a></li>
                            <li> <a href="http://blogs.yahoo.co.jp/kougai50/MYBLOG/yblog.html" target="_blank">Kougai (Calligraphe, Hiroshima)</a></li>
                            <li> <a href="http://www.facebook.com/HitoridakenoNGO/info" target="_blank">一人だけのNGO (association humanitaire, Tokyo)</a></li>
                            <li> <a href="http://tokyo.blog.lemonde.fr/" target="_blank"> Blog par un Français (Tokyo)</a></li>
                            <li> <a href="http://kyotofoodie.com/kyoto-furoshiki-karakusaya/" target="_blank"> Furoshiki Kyoto (Kyoto) </a></li>
                            <li> <a href="https://shop.furoshiki.co.jp/user_data/movie.php" target="_blank"> Vidéos de Furoshiki Kyoto</a></li>
                            <li> <a href="http://blog.livedoor.jp/jittokangaeru/" target="_blank"> Jitto kangaeru (Kazuko) </a></li>
                            <li> <a href="http://toyugenki2.blog107.fc2.com/" target="_blank"> Ohwaki dôjô (Hakata)</a></li>
                            <li> <a href="http://blog.livedoor.jp/kikipeace/" target="_blank"> Kikipeace </a></li>
                        </ul>
                        <h4>Autres</h4>
                        <ul>
                            <li> <a href="http://www.descartesdp.com/bio_brigitte.html" target="_blank"> Cabinet Coriou (Psychologue, Paris) </a></li>
                            <li> <a href="http://500px.com/fredericfok" target="_blank">Frederic Fok (Photographe) </a></li>
                            <li> <a href="http://www.estampe-artpopulaire.com/" target="_blank"> Association pour l'Estampe et l'art populaire (Paris)</a></li>
                            <li> <a href="http://cedric-spilthooren-photography.com/" target="_blank"> Cédric Spilthooren (Photographe, Paris)</a>, <a href="http://cedric-spilthooren-photography.com/photo/video/">video</a></li>
                            <li> <a href="www.eidolon-labs.com" target="_blank"> Christophe Desguez (Photographe, vidéo, Paris)</a>, <a href=" vampiroscope.com">autre site</a></li>
                            <li> <a href="http://www.sos-familles-emmaus.fr/" target="_blank"> SOS familles Nanterre </a></li>
                            <li> <a href="http://www.irdsu.net/COORDINATEUR-TRICE-association" target="_blank"> Cerise Nanterre </a></li>
                            <li> <a href="http://www.nanterre.fr" target="_blank"> Ville de Nanterre </a> </li>
                            <li> <a href="http://leslumieres.cine.allocine.fr/" target="_blank"> Cinéma Les Lumières </a></li>
                            <li> <a href="http://www.nanterre.fr/247-l-agora-maison-des-initiatives-citoyennes.htm" target="_blank"> Agora Nanterre</a></li>
                            <li> <a href="http://www.nanterre.fr/506-la-maison-des-associations.htm" target="_blank"> Maison des Associations Nanterre</a></li>
                            <li> <a href="http://www.nanterre.fr/124-maison-de-la-musique.htm" target="_blank"> Maison de la Musique Nanterre</a></li>
                            <li> <a href="http://www.nanterre.fr/annuaire/337/144-annuaire.htm" target="_blank"> Médiathèque Pierre et Marie Curie</a></li>
                            <li> <a href="http://www.criirad.org/" target="_blank"> Criirad</a></li>
                            <li> <a href="http://www.acro.eu.org/" target="_blank"> Acro </a></li>
                        </ul>
                        <h4>Partenariats</h4>
                        <ul>
                            <li> <a href="http://www.asp-id.com" target="_blank"> ASP&130;ID , association de personnes Autistes et Asperger</li> 
                        </ul>
                    </div> <!-- /sidepanel -->
                </div> <!-- /row -->    
            </div> <!-- /span12 -->
        </div> <!-- /row -->
      <hr>
    </div> <!-- /body-main-->
</div> <!-- /container -->

<footer class="clearfix">
    <b class="footpart">&copy; ASUKA 2012 (association Loi 1901, N° SIRET: 790 655 724 00017) </b> <br>
        Interdiction formelle de copier le contenu du site, sans notre autorisation <br> 
        (当ウエブサイトに掲載されている全ての内容の無許可コピー・転載・転用禁止) <br>
        This web site is currently being upgraded - If you would like to support, please contact <a href="http://www.linkedin.com/in/fredericfok">Frederic Fok</a>
    <br>
</footer>
