<!-- Include head banner on top and include scripts -->

<% header = partial('header.ejs') %>

<div class="container">

  <div class="hero-unit">
      <hgrpup>
            <img src="img/Logo_1.jpg" alt="ASUKA"><br>
            <b>ASUKA</b> est une Association Franco-Japonaise <br>
            Notre adresse: 
            <address> 
                16, boulevard du Levant<br>
                92000 Nanterre<br><br>
                tel:0671690332<br>
                mail: asuka.11032011@gmail.fr
            </address>
      </hgroup>
  </div>

</div> <!-- /container -->
