<!-- Include head banner on top and include scripts -->

<% header = partial('header.ejs') %>
<!--
<script src="js/form.js"></script>
-->

<script>
        $(document).ready(function() {
            var datatosend = ""; 
            $('#msg_form').submit(function (event) {
                
                event.preventDefault(); 

                datatosend={
                    from: $('#input01').val(), 
                    title: $('#input02').val(), 
                    msg: $('#input03').val()
                }

                <!--
                if ($('#input01').val() == undefined) {
                    form.data('validator').invalidate({
                        input01: "please fill in"
                    });
                    return false;
                }
                -->
                
                var $form = $( this ),
                    url = $form.attr( 'action' );

                /* Send the data using post and put the results in a div */
                $.post( url, datatosend,
                    function( result ) {
                        var content = result.data; 
                        //alert("Response: " + content);
                        //$( "#result" ).empty().append( "<p class=\"btn-success\" >"+content +"</p>");
                        $( "#result" ).empty().append( "<div class=\"alert alert-info span6\" data-dismiss=\"alert\">"+JSON.stringify(content) +"</div>");
                    }
                );

            });

        });
</script>

<div class="container">

    <div class="row">
        <div class="span6">
                <img src="img/Logo_1.jpg" alt="ASUKA"><br>
                <b>ASUKA</b> est une Association Franco-Japonaise <br>
                Nous sommes actuellement basé à Nanterre-Ville.  <br><br>
                Si vous souhaitez nous aider, nous proposer des projets, 
                ou souhaitez tout simplement nous laisser un message, 
                merci de remplir le formulaire ci-dessous.
        </div>
    </div>

    <div class="row">
            <form action="/contactmsg" class="form-vertical well span6" id="msg_form" name="myform">
                <fieldset>
                    <legend>Your Message</legend>
                    <div class="control-group">
                        <label class="control-label" for="input01"><i class="icon-envelope"></i>Indiquez votre courriel</label>
                        <div class="controls">
                            <input type="text" class="span6" id="input01" placeholder="@">
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label" for="input02"><i class="icon-tag"></i>Donnez un titre à votre message</label>
                        <div class="controls">
                            <input type="text" class="span6" id="input02" placeholder="TITRE">
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label" for="input03"><i class="icon-pencil"></i>Ecrivez votre message</label>
                        <div class="controls">
                            <input type="textarea" class="span6" id="input03" placeholder="MESSAGE">
                        </div>
                    </div>
                    <button type="submit" class="btn" id="go">Submit</button>
                </fieldset>
            </form>
    </div>
    <div class="row" id="result">
    </div>
</div> <!-- /container -->
