<style>
    .emphasis{font-weight:bold; }

    li{
        color: grey; 
    }
    ul.emphasis > li {
        color: red; 
    }

</style >

<script> $(function() {
    $('li:first-child').addClass('emphasis');
}); </script> 

<div class="container">
    <ul class="emphasis">
        <li>item 1</li > 
        <li>item 2 </li>
        <li>item 3</li > </ul> 
    <br>
    <span id="user-info" style="border:1px solid #888"></span >

</div>

<script>
    $('ul.emphasis').children('li'){}
</script>

<script src = "http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" > </script>