<%- partial("include.ejs", {
            scripts: ["js/jquery.js", "js/bootstrap.min.js"]
 }) %>

<script>
if ("<%=fb%>"==="true"){ 
    (function(d, s, id) {
          var js, fjs = d.getElementsByTagName(s)[0];
          if (d.getElementById(id)) return;
          js = d.createElement(s); js.id = id;
          js.src = "http://connect.facebook.net/fr_FR/all.js#xfbml=1&appId=<%=fb_app_id%>";
          fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk')
    );
}
</script>


<script> 
    $(document).ready(function() {
        
        <!-- hide evenement details. todo: automatic + filter per date -->
        $("#evt-1").collapse('hide')
        $("#evt-2").collapse('hide')
        $("#evt-3").collapse('hide')
        $("#evt-4").collapse('hide')
        $("#evt-5").collapse('hide')
    
        var loc = window.location.toString();
        var url = loc; 
        console.log('loc='+loc);

        if ( loc != '' ) {
            var url = loc.replace("#", "");
            <!-- TBD: optimize content load -->
        }
        $("#loader").click(function() {
            $("#container").load(url + " about");
        });

    });   
</script>

<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-9516902-5']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>


<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
      <a class="brand" href="#"><%=title%></a>
      <div class="nav-collapse">
        <ul class="nav">
            <li class="loader2"><a href="/"><i class="icon-home icon-white"></i>  Home </a></li>
            <li id="loader2"><a href="about"><i class="icon-user icon-white"></i>  About </a></li>
            <li class="icon"><a href="contact"><i class="icon-envelope icon-white"></i> Contact </a></li>
            <li class="icon"><a href="adhesion"><i class="icon-magnet icon-white"></i>  Membership </a></li>
            <li class="icon"><a href="projets"><i class="icon-th-list icon-white"></i>  Projects </a></li>
        </ul>
        
        <!--
        <ul class="nav pull-right">
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Utility <b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li><a href="#">Link 1</a></li>
              <li><a href="#">Link 2</a></li>
              <li><a href="#">Link 3</a></li>
            </ul>
          </li>
        </ul>
        -->        

      </div><!--/.nav-collapse -->
    </div>
  </div>
</div>

   <div class="row attract bordg">
            <div class="span2 bords">
                <img src="img/Logo_1.jpg" alt="ASUKA">    
            </div>
            <div class="span6">
                <h2>Association Franco - Japonaise</h2>
                <blockquote>
                    « ASUKA » est une association humanitaire franco-japonaise à but non lucratif. Elle est apolitique. 
                    Elle réunit des femmes et des hommes de toutes nationalités autour d’actions consistant à développer les échanges culturels, accompagner et soutenir les populations en difficulté. <br>
                    « ASUKA » souhaite créer une grande toile d'amitié internationale pour réaliser cet objectif. <br><br>
                    ASUKA（飛鳥）signifie l’oiseau qui vole. Il est libre et ainsi il peut choisir sa direction quelques soient les imprévus. <br>
                </blockquote>
            </div>
            
            
            <div class="span2 sideshare">
                <img src="img/persocoeur.jpg" width="150" />
            </div>
        

    </div>
