
<% header = partial('header.ejs') %>

<div class="container">

    <div class="row">
        <div class="span12">
            <h2> Activités </h2> 
            <ul>
            <li> L’association pourra organiser des conférences, stages, ateliers ou tout autre manifestation. </li>
            <li> L’association pourra exercer toutes activités connexes ou complémentaires qui concourent directement ou indirectement à la réalisation de l’objet de notre association. </li>
            <li> L’association destine une part de ses activités à un public jeune ou adulte en difficulté. </li>
            </ul>
        </div>
    </div>

    <div class="row">
        <div class="span12">
            <h2> Projet à réaliser 1 - Sensibilisation sur la radioactivité à Miyagi au Japon </h2>
                <p> 
                    Nous avons organisé des événements dont la plupart étaient réalisés pour la ville de Watari (Département de Miyagi, Japon). Pourquoi avons-nous choisi Watari et pas d’autres villes telle que Namié (Département de Fukushima) par exemple? Nous avons essayé de prendre contact avec un médecin à Namié après le 11 mars 2011. Etant donnée le contexte très grave de la situation, il était évidemment trop surchargé pour pouvoir être notre interlocuteur. De plus, nous étions sûrs que tout le monde irait soutenir face à la gravité de l’accident du centre Fukushima-Daiichi. 
                    M. Yuichi Ishimoto, un ami Japonais qui habite tout près de Watari a montré des photos de la ville, qui était ravagée par le tsunami. Elle se trouve proche de Fukushima-Daiichi mais pas dans la préfecture de Fukushima. Il était évident quelle serait abandonnée par le monde. Et c’est ce qui se passe actuellement. 
                    Nous avons récolté 2000 euros pour Watari grâce à l’événement du 11 mars 2012. Nous avons par ailleurs proposé à une association de Watari (Ichigokko) deux projets, indiqués ci-dessous: 
                </p>
                <ul>
                    <li>Équiper leur centre d'accueil pour les habitants d’un dosimètre de radioactivité pour la nourriture(2000 euros). En fait, Watari est proche de Fukushima-Daiichi comme nous l’avons mentionné ci-dessus. Pourtant je vois que les habitants ne sont pas du tout conscients du risque encouru, manque d’informations précises par les autorités japonaises. Alors nous leur avons proposé un autre projet comme ci-dessous. </li>
                    <li>Sensibiliser d'abord les habitants par la diffusion des films sur les effets de la radioactivité sur le corps humain (1000 euros) et équiper le centre avec un dosimètre l’appareil le moins cher étant de leur centre(1000 euros). Nous pourrons entièrement aider ces opérations.
                </ul>
                <p> Nous avons bien constaté que les habitants de Watari ne veulent pas encore confronter la réalité. Nous comprenons bien que le problème de radioactivité est trop lourd pour les habitants. Il faut plus de soutien national voire international pour qu’ils puissent réagir. <br> 
                Comme il leur faudrait un lieu de communication entre les habitants, nous avons donc envoyé 200 000 yens (1850 euros) pour un projet de construction de centre communal de <a href="http://watari-ichigokko.blogspot.fr/"> l’Association Ichigokko </a> en décembre 2012. Puis nous allons continuer parler avec eux pour les soutenir. <br>
                <br> 
            <h2> Projet à réaliser 2 - Films </h2>
                <p> Une série de films. 
                <ul>
                    <li> Diffusion du film suivi par un débat avec la réalisatrice: «Hibakusha – At the end of the world» Hitomi Kamanaka <br>
                    Nanterre, 11 mars 2013 </li>
                </ul>
                </p>
                <br>
            <h2> Projet à réaliser 3 - Accompagnement social et professionel </h2> 
                <p> 
                    Nous sommes persuadés que la circulation des personnes est inévitable et indispensable pour l’évolution de notre civilisation, nous accompagnons donc des immigrés en difficultés mais motivés. 
                    Pour cela, nous travaillons avec plusieurs institutions publiques, associatives et professionnelles en fonction de chaque problématique et afin d’aboutir à l’objectif défini par des demandeurs. 
                    A travers ces échanges, nous pourrons créer un réseau international de confiance. 
                </p>
                <br>
            <h2> Projet à réaliser 4 - culture japonaise </h2>
                <p> Les projets ci-dessous seront réalisés selon la demande des adhérents et des habitants. 
                <ul>
                    <li> Atelier d'Origami (pliage Japonais) </li>
                    <li> Atelier de Shiatsu </li>
                    <li> Atelier de Cuisine Japonaise </li>
                    <li> Atelier de langue Japonais </li>
                </ul>
                </p>
                <br> 
            <h2> Autres </h2>
                <ul>
                    <li> Photo reportage au Japon en 2013-14 - Nouvelles énergies </li>
                    <li> Reportage : Le vrai visage des Japonais </li>
                </ul>
        </div>
    </div>
</div> <!-- /container -->
