
<% header = partial('header.ejs') %>

<div class="container">

    <div class="row">
        <div class="span12">
            <h2> Activités </h2> 
            <ul>
            <li> L’association pourra organiser des conférences, stages, ateliers, ou autres manifestations. </li>
            <li> L’association pourra exercer toutes activités connexes ou complémentaires qui concourent directement ou indirectement à la réalisation de l’objet de notre association. </li>
            <li> L’association destine une part de ses activités à un public jeune ou adulte en difficultés. </li>
            </ul>
        </div>
    </div>

    <div class="row">
        <div class="span12">
            <h2> Projet à réaliser 1 - culture japonaise </h2>
                <p> 
                   Les projets ci-dessous seront réalisés selon la demande des adhérents et des habitants. 
                </p>
                <ul>
                    <li>Atelier d'Origami (pliage Japonais)  </li>
                    <li>Atelier de Shiatsu </li>
                    <li>Atelier de Cuisine Japonaise </li>
                    <li>Atelier de langue Japonaise </li>
                </ul>
                <br>
            <h2> Projet à réaliser 2 - projection de films </h2>
                <p> Une série de films japonais:
                <ul>
                    <li> Réunion d’ASUKA autours des films japonais </li>
                    <li> Diffusion du film suivi par un débat avec la réalisatrice: «Hibakusha – At the end of the world» Hitomi Kamanaka . Actuellement, Nous attendons  une version sous-titrée  française. </li>
                </ul>
                </p>
                <br>
            <h2> Projet à réaliser 3 - Accompagnement social et professionel </h2> 
                <p> 
                    Nous sommes persuadés que la circulation des personnes est inévitable et indispensable pour l’évolution de notre civilisation, 
                    nous accompagnons donc des personnes en difficultés mais motivées. 
                    Pour cela, nous travaillons avec plusieurs institutions publiques, associatives et professionnelles en fonction de chaque problématique 
                    et afin d’aboutir à l’objectif défini par des demandeurs. A travers ces échanges, nous pourrons créer un réseau international.
                </p>
                <br>
            <h2> Projet à réaliser 4 - Soutien des enfants de Fukushima </h2>
                <ul>
                    <li> Conférence sur leur situation </li>
                    <li> Inviter des enfants de Fukushima en France pour un repos, un suivi médical et des échanges culturels </li>
                </ul>
                </p>
                <br> 
            <h2> Projet à réaliser 5 - Sensibilisation sur la radioactivité à Miyagi au Japon </h2>
                <p> Nous avons organisé des événements dont la plupart étaient réalisés pour la ville de Watari (Département de Miyagi, Japon). <br>
                    Pourquoi avons-nous choisi Watari et pas d’autres villes telles que Namié (Département de Fukushima) par exemple? <br>
                    Nous avons essayé de prendre contact avec un médecin à Namié après le 11 mars 2011. Etant donné le contexte très grave de la situation, 
                    il était évidemment trop surchargé pour pouvoir être notre interlocuteur. 
                    De plus, nous étions sûrs que tout le monde irait soutenir la ville de Namié face à la gravité de l’accident du centre Fukushima-Daiichi.
                    M. Yuichi Ishimoto, un ami Japonais qui habite tout près de Watari a montré des photos de la ville, qui était ravagée par le tsunami. 
                    Elle se trouve proche de Fukushima-Daiichi mais pas dans la préfecture de Fukushima. Il était évident qu’elle serait abandonnée par le monde. 
                    Et c’est ce qui se passe actuellement. Nous avons récolté 2000 euros pour Watari grâce à l’événement du 11 mars 2012. 
                    Nous avons par ailleurs proposé à une association de Watari (Ichigokko) deux projets, celui d’équiper leur centre d'accueil pour les habitants 
                    d’un dosimètre de radioactivité pour mesurer la radioactivité dans l’air (2000 euros) mais ils ont refusé car ils ne voulaient pas savoir tellement 
                    ils avaient peur de la réalité. <br>
                    Le deuxième projet a été de sensibiliser d'abord les habitants par la diffusion de films dont le droit de diffusion a été de 1000 euros concernant 
                    les effets de la radioactivité sur le corps humain et de proposer 1000 euros pour acheter un dosimètre moins cher. <br>
                    Nous avons bien constaté que les habitants de Watari ne veulent pas encore être confrontés à  la réalité. Nous comprenons bien que le problème de 
                    radioactivité est trop lourd pour ces habitants. Il faut plus de soutien national voire international pour qu’ils puissent se sentir soutenu et pouvoir 
                    réagir. <br> 
                    Comme il leur faudrait un lieu de communication entre les habitants, nous avons donc envoyé 20 000 yens (1850 euros) pour un projet de construction 
                    d’un centre communal de <a href="watari-ichigokko.blogspot.fr/"> l’Association Ichigokko </a> en décembre 2012. Puis nous allons continuer à parler 
                    et agir avec eux pour les soutenir.
                </p>
                <br>
            <h2> autres </h2>
            <ul>
                <li>Photo reportage au Japon en 2013-14 - Nouvelles énergies</li>
                <li>Reportage : Le vrai visage des Japonais </li>
            </ul>
        </div>
    </div>
</div> <!-- /container -->
